body {
    font-size: 12px;
    background-color: #232323;
    font-family: "Inter", sans-serif;
    color: #EDEDED;
    margin: 0px;
}
/* body::-webkit-scrollbar {
    display: none;
  } */

.main-container
{
    display: flex;
}

.nav-container
{
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 64px;
}
.icons-nav
{
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #343434;
}

.icons-nav .material-symbols-outlined
{
    font-size: 28px;
    color: #707070;
}
.icons-nav .material-symbols-outlined:hover
{
    color: #ededed;
    cursor: pointer;
}

span {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px !important;
}


h1 {
    margin: 0px 0px 8px 0px;
    color: #FFFFFF;
}

h2 {
    font-size: 1.66em;
    margin: 0px 0px 8px 0px;
    color: #a0a0a0;
}

.tile-icon {
    background-color: #ededed;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.tile-icon-dark {
    background-color: #282828;
    display: flex;
    border: 1px solid #2e2e2e;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.tile-icon .material-symbols-outlined {
    color: #161616;
    font-size: 28px;
}

.tile-icon-dark .material-symbols-outlined {
    color: #ededed;
    font-size: 28px;
}

.active-icon
{
    color: #EDEDED !important;
}

.m-rm
{
    margin: 0!important;
}

.tile-date {
    font-size: 12px !important;
    color: #a0a0a0;
    width: fit-content;
    border: 1px solid #707070;
    padding: 5px;
    border-radius: 8px;
}

.tile-date-container {
    display: flex;
    gap: 8px;
}